@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Roboto;
}



/*Header styles*/
header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 200px;
}

.header-logo{
    font-size: 24px;
    color:#f9faf8;
}

ul {
   list-style:none; 

}

li  {
    display: inline-block;
    margin-left: 15px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
}

/*Main Info Styles*/

.MainInfo {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding:100px 200px;

}

.MainInfoText {
    width:50%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap:15px
}

.MainText{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin:0;
}

.HSecondText{
    color: #e5e7eb;
    font-size: 18px;
}

.MainInfoButton{
    padding:8px 25px;
    border-radius:5px;
    color:#f9faf8;
    background-color: #3882f6;
    width:110px;
}

.MainInfoButton:hover {
    background-color: #2a5db0;
}


.MainInfoImage{
    background-color:#bbbbbd9f;
    width:500px;
    height:250px;
    color:#e5e7eb;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink: 0;
}


/*Random Information Section*/
.RandInfo {
    padding:20px 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.RandInfoTitle{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin:40px 0px;
    flex-basis: 100%;
}

.RandContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.RandShapes{
    width: 200px;
    height:200px;
    color:#f9faf8;
    border-color: #3882f6;
    border-width: 5px;
    border-style: solid;
    border-radius:10px;
    margin-bottom: 10px;
}

.info{
    max-width: 200px;
    max-height:400px;
}

.ShapeText{
    text-align:center;
    font-size: 20px;
    color:#4f5252;
}